In [1]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [3]:
for n in even:
    print(n, end = " ")

0 2 4 6 8 10 12 14 16 18 20

In [5]:
x = 0
while x <= 20:
    print(x, end = " ")
    x = x + 3

0 3 6 9 12 15 18

In [6]:
# range object
range(10)

range(0, 10)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
range(3,7)

range(3, 7)

In [9]:
list(range(3,7))

[3, 4, 5, 6]

In [10]:
range(1,20,2)

range(1, 20, 2)

In [11]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [12]:
for n in range(20):
    print(2 ** n, end = " ")

1 2 4 8 16 32 64 128 256 512 1024 2048 4096 8192 16384 32768 65536 131072 262144 524288

In [13]:
for x in range(20):
    if x % 2 == 0:
        print(x, end = " ")
    else:
        print("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [14]:
x = [0,1,2]

In [15]:
for item in x:
    print(item, end = " ")

0 1 2

In [16]:
for item in range(len(x)):
    print(x[item], end = " ")

0 1 2

In [18]:
def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total += 1
    return total

In [20]:
list_1 = [1,3,7,15,23,45,17]
count(list_1)

5

In [21]:
#iterate over dictionaries

In [22]:
prices = {"spaghetti":4, "lasagna":5, "hamburger":2}
quantity = {"spaghetti":6, "lasagna":10, "hamburger":0}

In [23]:
moneySpent = 0

for i in prices:
    moneySpent = moneySpent + (prices[i] * quantity[i])

print(moneySpent)

74