___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if (a % 2 == 0) and (b % 2 == 0):
        return min(a,b)
    else:
        return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [13]:
def animal_crackers(text):
    words = text.split()
    word1 = words[0]
    word2 = words[1]
    
    word1Letters = [char for char in word1]
    word2Letters = [char for char in word2]
    
    if word1Letters[0] == word2Letters[0]:
        return True
    else:
        return False

In [14]:
# Check
animal_crackers('Levelheaded Llama')

True

In [15]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [28]:
def makes_twenty(n1,n2):
    if (n1 + n2 == 20) or (n1 == 20 or n2 == 20):
        return True
    else:
        return False

In [29]:
# Check
makes_twenty(12,8)

True

In [30]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [70]:
def old_macdonald(name):
    letters = list(name)
    letters[0] = letters[0].upper()
    letters[3] = letters[3].upper()
    return ''.join(letters)

In [71]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [78]:
def master_yoda(text):
    words = text.split()
    numWords = len(words)
    newOrder = []
    
    while numWords > 0:
        newOrder.append(words[numWords - 1] + " ")
        numWords = numWords - 1
    
    return "".join(newOrder)

In [79]:
# Check
master_yoda('I am home')

'home am I '

In [80]:
# Check
master_yoda('We are ready')

'ready are We '

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [84]:
def almost_there(n):
    if (n >= 90 and n <= 110) or (n >= 190 and n <= 210):
        return True
    else:
        return False

In [85]:
# Check
almost_there(104)

True

In [86]:
# Check
almost_there(150)

False

In [87]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [92]:
def has_33(nums):
    length = len(nums)
    index = 1
    
    while index < length:
        if nums[index] == 3 and nums[index + 1] == 3:
            return True
        else:
            return False

In [93]:
# Check
has_33([1, 3, 3])

True

In [94]:
# Check
has_33([1, 3, 1, 3])

False

In [95]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [99]:
def paper_doll(text):
    letters = [char for char in text]
    newLetters = []
    
    for letter in letters:
        newLetters.append(letter)
        newLetters.append(letter)
        newLetters.append(letter)
    
    return "".join(newLetters)

In [100]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [101]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [102]:
def blackjack(a,b,c):
    if (a + b + c <= 21):
        return a + b + c
    elif (a + b + c > 21) and (a == 11 or b == 11 or c == 11):
        return a + b + c - 10
    else:
        return 'BUST'

In [103]:
# Check
blackjack(5,6,7)

18

In [104]:
# Check
blackjack(9,9,9)

'BUST'

In [105]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [116]:
def summer_69(arr):
    length = len(arr) - 1
    index = 0
    sum = 0
    lockdown = False
    
    while index <= length:
        if arr[index] != 6 and not lockdown:
            sum = sum + arr[index]
        elif arr[index] == 6 and not lockdown:
            lockdown = True
        elif arr[index] == 9 and lockdown:
            lockdown = False
        else:
            pass
        index = index + 1
    
    return sum

In [117]:
# Check
summer_69([1, 3, 5])

9

In [118]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [119]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [143]:
def spy_game(nums):
    length = len(nums)
    index = 0
    newList = []

    for x in nums:
        if x == 0 or x == 7:
            newList.append(x)
        else:
            pass
    
    if len(newList) == 3 and newList[0] == 0 and newList[1] == 0 and newList[2] == 7:
        return True
    else:
        return False

In [144]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [145]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [146]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [201]:
def count_primes(num): # got help for prime logic
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3, x, 2):  # test all odd factors up to x-1
            if x % y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [205]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [214]:
def print_big(letter):
    d = {'a':'  *  \n * * \n*****\n*   *\n*   *','A':'  *  \n * * \n*****\n*   *\n*   *'}
    return print(d.get(letter))

In [216]:
print_big('A')

  *
 * *
*****
*   *
*   *

## Great Job!