In [2]:
# Lists
People = ["Larry", "Clara", "Max"]
People

['Larry', 'Clara', 'Max']

In [3]:
print(People[1])

Clara

In [4]:
print(People[0])

Larry

In [5]:
People[-1]

'Max'

In [7]:
People[2] = "Maria"

In [8]:
print(People[2])

Maria

In [10]:
People.append("Kyle")
People

['Larry', 'Clara', 'Maria', 'Kyle']

In [13]:
People.extend(["George", "Catherine"])
People

['Larry',
 'Clara',
 'Maria',
 'Kyle',
 'George',
 'Catherine',
 'George',
 'Catherine',
 'George',
 'Catherine']

In [14]:
People[1:3]

['Clara', 'Maria']

In [15]:
People[2:5]

['Maria', 'Kyle', 'George']

In [16]:
People[:3]

['Larry', 'Clara', 'Maria']

In [17]:
People[-2:]

['George', 'Catherine']

In [18]:
People.index("Maria")

2

In [19]:
Newcomers = ["Josh", "Brit"]
Newcomers

['Josh', 'Brit']

In [20]:
#Combine two Lists
BiggerList = [People, Newcomers]
BiggerList

[['Larry',
  'Clara',
  'Maria',
  'Kyle',
  'George',
  'Catherine',
  'George',
  'Catherine',
  'George',
  'Catherine'],
 ['Josh', 'Brit']]

In [22]:
#Tuples (default sequence type in Python, cannot edit, add, or remove elements)
x = (40, 65, 90)
x

(40, 65, 90)

In [25]:
a, b, c = 1, 2, 3
c

3

In [26]:
#Dictionaries (each value associated with a key, so key:value pairs)
dict = {'k1':"cat", 'k2':"dog", 'k3':"mouse"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse'}

In [27]:
dict['k1']

'cat'

In [28]:
dict['k4'] = "squirrel"

In [29]:
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'squirrel'}

In [30]:
depWorkers = {'dep1':"Sherry", 'dep2':["Larry", "Mike", "Chris"]}
depWorkers['dep2']

['Larry', 'Mike', 'Chris']